{%extends 'main.html'%}
{%block content%}
<div class="user_profile">
	<div class="personal_data">
		{%if photo %}<img src="{{MEDIA_URL}}{{photo.image}}" alt="personal_image" width="400px" />{%endif%}
		
		
		<div class="nick_name">Nickname:&nbsp{{user.username}}</div>
		<div class="first_name">First name:&nbsp{{user.first_name}}</div>
		<div class="last_name">Last name:&nbsp{{user.last_name}}</div>
		{%if private%}
			<form method="POST" action="/profile.html?f=p" enctype="multipart/form-data" >{%csrf_token%}
				{{photo_form}}
				<input type="submit" value="update" />
			</form>
			<form method="POST" action="/profile.html?f=a">{%csrf_token%}
				{{address}}
				<input type="submit" value="update" />
			</form>
		
		{%endif%}
	</div>
	{%if not address.hide %}
		<div class="address">
			<div class="email">{{user.email}}</div>
			{%if not private and not address.hide %}
			<ul>
				<li>City: {{address.city}}</li>
				<li>Street: {{address.street}}</li>
				<li>House number: {{address.houseNo}}</li>
				<li>Flat number: {{address.flatNo}}</li>
				<li>Postal code: {{address.postalCode}}</li>
			</ul>
			{%endif%}
		</div>
	{%endif%}
	{%if not private%}
		<a href="report/user,{{user.id}}.html">Report</a>
		<a class="quiet" href="observe/user,{{user.id}}/" >{%if observed %}Stop observe{%else%}Observe{%endif%}</a>
	{%endif%}
</div>
{%endblock%}